@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
.banner-titles{
    font-family: 'Parisienne', cursive;
    font-weight: normal;
}

.banner-title-two{
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 70px;
}